---

---
<!DOCTYPE html>
<html>

{% include head.html %}

<body>
	<div id="wrap">
	  	
  	<!-- Navigation -->
   <nav id="nav">
       <h1>Jakub Dundalek</h1>
       <div id="nav-list">
           <a href="{{ site.baseurl }}">Home</a>
           {% include navlinks.html %}
       </div>
   </nav>

    
    <!-- Icon menu -->
	  <a href="#" id="nav-menu">
	  	<div id="menu"></div>
	  </a>

      <!-- Header -->
      {% if paginator.total_pages > 1 %}
          {% include header.html %}
      {% endif %}

    <!-- Main content -->
	  <div id="container">

	  	{{ content }}

	  </div>
	</div>
    <script src="{{ "js/main.js" | prepend: site.baseurl }}"></script>
</body>
</html>