---

---
<!DOCTYPE html>
<html>

{% include head.html %}

<body>
  <input type="checkbox" id="open-menu-toggle">
	<div id="wrap">
	  	
  	<!-- Navigation -->
   <nav id="nav">
       <h1>Jakub Dundalek</h1>
       <div id="nav-list">
           <a href="{{ site.baseurl }}">Home</a>
           {% include navlinks.html %}
       </div>
   </nav>

    
    <!-- Icon menu -->
    <label for="open-menu-toggle" id="nav-menu">
      <div id="menu"></div>
    </label>

      <!-- Header -->
      {% if paginator.total_pages > 1 %}
          {% include header.html %}
      {% endif %}

    <!-- Main content -->
	  <div id="container">

	  	{{ content }}

	  </div>
	</div>
</body>
</html>
